
h1 { font-size: 1.9em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.3em; }

header nav span.navbar-brand {
  padding: 10px;
}

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
  margin-left: 5px;
}

#main hr, footer hr  {
  /*margin*/: 0px;
}

#main #main-content {
  font-size: 1em;
}

#main #main-content .panel .panel-heading {
  padding: 3px 15px;
}

#main #main-content .panel .post-date {
  position: absolute;
  right: 0;
  z-index: 10;
  padding: 5px 8px;
  font-size: 12px;
  color: #777;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #e1e1e8;
  border-radius: 0 4px 0 4px;
  margin-top: 7px;
}

#main #main-content .panel .post-title {
  max-width: 90%;
}

#main #main-content .panel h1 {
	font-size: 1.5em; 
	/*color: #2C3E50;*/ 
	margin-top: 15px;
	margin-bottom: 15px;
}
#main #main-content h1 { font-size: 1.9em; /*color: #2C3E50;*/ }
#main #main-content h2 { font-size: 1.5em; /*color: #2C3E50;*/ }
#main #main-content h3 { font-size: 1.3em; /*color: #2C3E50;*/ }
#main #main-content h4 { font-size: 1.2em; /*color: #2C3E50;*/ }

#main #main-content h2, h3, h4 { font-weight: 500; } 

#main #footer-spacing { display:block; height:40px; }

#main #post-navigation { margin-top:40px; }
#main #post-navigation .next { margin-top:20px; text-align: right; }
/*#main #post-navigation .next a { font-size: 1.2em; }*/


blockquote {
  font-size: 1em;
  background-color: #f3f6e8;
}

code {
  background-color: #e9ebe4;
}

body {
  overflow-x: hidden;
}
/*p {
  font-size: 20px;
}
p.small {
  font-size: 16px;
}*/
a,
a:hover,
a:focus,
a:active,
a.active {
  color: #18bc9c;
  outline: none;
}
/*h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}*/
hr.star-light,
hr.star-primary {
  padding: 0;
  border: none;
  border-top: solid 5px;
  text-align: center;
  max-width: 250px;
  margin: 25px auto 30px;
}
hr.star-light:after,
hr.star-primary:after {
  content: "\f005";
  font-family: FontAwesome;
  display: inline-block;
  position: relative;
  top: -0.8em;
  font-size: 2em;
  padding: 0 0.25em;
}
hr.star-light {
  border-color: white;
}
hr.star-light:after {
  background-color: #18bc9c;
  color: white;
}
hr.star-primary {
  border-color: #2c3e50;
}
hr.star-primary:after {
  background-color: white;
  color: #2c3e50;
}
.img-centered {
  margin: 0 auto;
}
header {
  text-align: center;
  background: #18bc9c;
  color: white;
}
header .container {
  padding-top: 0px;
  padding-bottom: 10px;
}
header img {
  display: block;
  margin: 0 auto 20px;
}
header .intro-text .name {
  display: block;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2em;
  color: #A52640;
}
header .intro-text .skills {
  font-size: 1.25em;
  font-weight: 300;
}
@media (min-width: 768px) {
  header .container {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  header .intro-text .name {
    font-size: 4.75em;
  }
  header .intro-text .skills {
    font-size: 1.75em;
  }
}
@media (min-width: 768px) {
  .navbar-fixed-top {
    padding: 25px 0;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
  }
  .navbar-fixed-top .navbar-brand {
    font-size: 2em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  .navbar-fixed-top.navbar-shrink {
    padding: 10px 0;
  }
  .navbar-fixed-top.navbar-shrink .navbar-brand {
    font-size: 1.5em;
  }
}
.footer-logo,
.footer-logo:hover,
.footer-logo:focus,
.footer-logo:active {
  font-size: 3em;
  text-decoration: none;
  line-height: 80px;
  height: 80px;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  padding: 20px 15px;
}
.navbar {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
.navbar a:focus {
  outline: none;
}
.navbar .navbar-nav {
  letter-spacing: 1px;
}
.navbar .navbar-nav li a:focus {
  outline: none;
}
.navbar-default,
.navbar-inverse {
  border: none;
}
section {
  padding: 0px 0px;
}
section h2 {
  margin: 0;
  font-size: 3em;
}
section.success {
  background: #18bc9c;
  color: white;
}
@media (max-width: 767px) {
  section {
    padding: 25px 0;
  }
  section.first {
    padding-top: 25px;
  }
}
.btn-outline {
  color: white;
  font-size: 20px;
  border: solid 2px white;
  background: transparent;
  transition: all 0.3s ease-in-out;
  margin-top: 15px;
}
.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
  color: #18bc9c;
  background: white;
  border: solid 2px white;
}
.floating-label-form-group {
  position: relative;
  margin-bottom: 0;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #eeeeee;
}
.floating-label-form-group input,
.floating-label-form-group textarea {
  z-index: 1;
  position: relative;
  padding-right: 0;
  padding-left: 0;
  border: none;
  border-radius: 0;
  font-size: 1.5em;
  background: none;
  box-shadow: none !important;
  resize: none;
}
.floating-label-form-group label {
  display: block;
  z-index: 0;
  position: relative;
  top: 2em;
  margin: 0;
  font-size: 0.85em;
  line-height: 1.764705882em;
  vertical-align: middle;
  vertical-align: baseline;
  opacity: 0;
  -webkit-transition: top 0.3s ease,opacity 0.3s ease;
  -moz-transition: top 0.3s ease,opacity 0.3s ease;
  -ms-transition: top 0.3s ease,opacity 0.3s ease;
  transition: top 0.3s ease,opacity 0.3s ease;
}
.floating-label-form-group::not(:first-child) {
  padding-left: 14px;
  border-left: 1px solid #eeeeee;
}
.floating-label-form-group-with-value label {
  top: 0;
  opacity: 1;
}
.floating-label-form-group-with-focus label {
  color: #18bc9c;
}
form .row:first-child .floating-label-form-group {
  border-top: 1px solid #eeeeee;
}
footer {
  color: white;
}
footer h3 {
  margin-bottom: 30px;
}
footer .footer-above {
  padding-top: 50px;
  background-color: #2c3e50;
}
footer .footer-col {
  margin-bottom: 50px;
}
footer .footer-below {
  padding: 25px 0;
  background-color: #233140;
}
.btn-social {
  display: inline-block;
  height: 50px;
  width: 50px;
  border: 2px solid white;
  border-radius: 100%;
  text-align: center;
  font-size: 20px;
  line-height: 45px;
}
.btn:focus,
.btn:active,
.btn.active {
  outline: none;
}
.scroll-top {
  position: fixed;
  right: 2%;
  bottom: 2%;
  width: 50px;
  height: 50px;
  z-index: 1049;
}
.scroll-top .btn {
  font-size: 20px;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  line-height: 28px;
}
.scroll-top .btn:focus {
  outline: none;
}
.down-arrow {
  background: url('../img/down-arrow.png');
  display: block;
  width: 19px;
  height: 12px;
  margin: 30px auto 40px auto;
}
.row-spacer {
  margin-left: -15px;
  margin-right: -15px;
  min-height: 50px;
}
#custom-banner-row {
  background: url('../img/topImage.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #28bb9c;
}
.img-features {
  padding-top: 10px;
  padding-bottom: 10px;
}
